extend ../layouts/common.pug
block content
    h1 Chat Box

    #list
    .input-group
        .input-group-prepend
            span.input-group-text Text
        input#myInput.form-control(type='text', placeholder='Text', aria-label='')
        .input-group-append
            span.input-group-text Text
            
    script(type='text/javascript', src='/chatbox.js')
