extend ../layouts/common.pug
block content
    h1 Chat Box

    #list
    .input-group
        .input-group-prepend
            span.input-group-text Text
        input#myInput.form-control(type='text', placeholder='Text', aria-label='')
        .input-group-append
            span.input-group-text Text
        .btn.btn-primary#button_reset Reset
    form#formupload(action="/chat/api" method="POST" enctype='multipart/form-data')
        label(for="uploadfile") File
        input#uploadfile.form-control-file(type='file' name="uploadfile")
        button#button_upload.btn.btn-primary(disabled) upload
    
    script(type='text/javascript', src='/chatbox.js')
