head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.nav-link(href='/')
            | Home 
        span.sr-only (current)

        a.navbar-brand(href='#')
            if user
                p= user.username
    block content